body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(76, 147, 224);
}

#sound-pressed {
  font-size: 30px;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  text-shadow: 2px 2px blue;
}